/* Modifica estilos del header para úbicar las navbars en columnas */
.navbar-govco {
  flex-flow: column;
  padding: 0;
}

/* Modifica estilos para boton iniciar sesión en el header */
.btn-govco-text, .btn-low {
  color: #FFF;
}
.btn-symbolic-govco .govco-icon {
  color:  #FFF !important;
}

/* ítems en subheader ocupen el 100% del espacio */
.nav-item {
  flex-basis: 100%;
  text-align: center;
}

