
/* Imagen de fondo para banner de bienvenida */
.backimage {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../assets/img/headerphoto2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 600px; width: 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Título banner de bienvenida */
.title-welcome {
  font-size: 50px;
  color: #FFF;
}

/* Modifica color de clase encabezado */
.headline-l-govco {
  color: #FFF;
  margin-top: 1rem;
  font-weight: normal;
}

.govco-card-cuentanos {
  border: 1px solid #3772FF !important;
  color: #004884;
}

.card-text-cuentanos {
  margin-bottom: 5px;
}

.btn-round-cuentanos {
  border-radius: 30px;
  border: 1.5px solid;
  color: #3772FF;
  text-transform: none;
  width: 250px;
}

.form-search-bar {
  border-radius: 2rem;
  border: 1px solid #fff;
  box-shadow: 0px 0px 1px white;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 21px;
  background-color: white;
  width: 100%;
}

.form-control-search-bar {
  font-size: 1rem !important;
  margin-right: 1px !important;
  margin-left: 10px;
  width: 93%;
  line-height: 1;
  background-color: white;
  border: 1px solid transparent;
  padding: 0;
}

.govco-card .govco-card-image-left {
  border-radius: 0px;
}

.govco-card .govco-card-image {
  min-height: 200px;
}
