<!-- Banner de bienvenida -->
<div class="backimage">
  <div class="center">
    <p class="title-welcome">¡Te damos la bienvenida!</p>
    <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container float-middle">
      <input class="form-control form-control-search-bar mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
      type="search"
      placeholder="Encuentra aquí lo que buscas "
      aria-label="Search"
      name="searchTerm"
      id="search-desktop" />
      <span class="govco-icon govco-icon-search-cn icon-search notranslate" (click)="btnSearchGovCo()"></span>
    </div>
    <p class="headline-l-govco">Toda la oferta del estado colombiano a tu alcance</p>
  </div>
</div>
<!-- Queremos conocer tu opinión -->
<div class="container" style="margin-top: -100px;">
  <div class="card govco-card" style="height: 100%;">
    <div class="card-body">
      <div class="row">
        <div class="col-7">
          <div class="card-body" *ngFor="let item of listacuentanos; let i = index"
           style="border-bottom: 3px solid #e1ebff; padding-bottom: 30px;">
            <p *ngIf="i === 0" style="color: #004884; font-size: 34px;">Queremos conocer tu opinión</p>
            <div class="container" style="padding: 0px;">
              <div style="width: 50%; padding-left: 16px;" [style.background-color]="item.colorlabel">
                <span style="width: 200px; color: #FFF;">{{item.labelestado}}</span>
              </div>
              <p class="card-text-cuentanos" style="margin-top: 15px; color: #004884; font-weight: bold;">{{item.titulo}}</p>
              <div class="float-left" style="color: #004884;">{{item.entidad}}</div>
              <div *ngIf="item.info !== ''" class="float-right" style="color: #004884;">{{item.info}}</div>
            </div>
          </div>
          <div class="container">
            <div class="float-right" style="color: #3772FF;">
              <button type="button" class="btn-symbolic-govco">
                <span class="btn-govco-text textright-govco">Conoce otros ejercicios de participación</span>
                <span class="govco-icon govco-icon-right-arrow "></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-body">
            <div class="card govco-card govco-card-cuentanos">
              <div class="card-body">
                <p class="card-text card-text-cuentanos" style="font-size: 24px;">Cuentános</p>
                <p class="card-text card-text-cuentanos" style="font-size: 18px;">¿Cómo podemos mejorar GOV.CO?</p>
                <p class="card-text card-text-cuentanos" style="font-size: 14px;">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
                <div class="textarea-govco">
                  <div class="div-character" id="divtextarea-example">
                    <textarea class="form-control" id="textarea-example" maxlength="255" placeholder="Escribe aquí tu opinión" rows="5"></textarea>
                    <div class="div-count-character">
                      <span class="hidden span-message-character" id="messagetextarea-example">Alcanzó el máximo de carácteres permitidos</span><span class="float-right pr-3 span-count-character" id="counttextarea-example">255</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer govco-card-footer govco-center">
                  <button class="btn btn-round btn-round-cuentanos">Enviar mi opinión</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Otros temas de tu interés -->
<div class="container" style="margin-top: 16px;">
  <p style="color: #004884; font-size: 34px;">Otros temas de tu interés</p>
  <div class="row">
    <div class="col-6" *ngFor="let item of listaotrostemas" style="padding: 15px;">
      <div class="card govco-card" style="min-height: 200px;">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3" style="padding-right: 0px;">
            <img class="card-img govco-card-image govco-card-image-left" src="{{item.avatar}}" alt="..." />
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9" style="padding-left: 0px;">
            <div class="card-body">
              <p style="color: #004884; font-size: 24px; margin-bottom: 0px;">{{item.titulo}}</p>
              <p style="color: #004884; font-size: 14px; margin-bottom: 0px;">{{item.subtitulo}}</p>
              <div class="container">
                <div class="float-right" style="color: #3772FF;">
                  <button type="button" class="btn-symbolic-govco">
                    <span class="btn-govco-text textright-govco">{{item.labelurl}}</span>
                    <span class="govco-icon govco-icon-right-arrow "></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

