.govco-form-signin {
  background: no-repeat padding-box #fff;
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid #e6effd;
  border-radius: 20px;
  width: 100%;
  max-width: 470px;
  margin: auto;
}

.govco-form-signin form {
  padding: 30px 60px;
}

.govco-form-signin .govco-form-sign-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #e6effd;
  border-radius: 0 0 20px 20px;
  padding: auto 60px;
}

.govco-form-signin .govco-title-sign-form {
  font-family: Montserrat,sans-serif!important;
  font-size: 33px!important;
  font-weight: 300!important;
  color: #0b457f;
  text-align: center;
  margin-bottom: 52px;
}

.govco-form-signin .govco-form-sign-links .btn-low {
  padding: 20px;
  font-size: 16px;
}
