<div class="container" style="margin-top: 180px;">
  <div class="govco-form-signin">
    <form >
      <div clas="text-center" style="text-align: center;">
        <span class=" bd-highlight govco-icon govco-icon-key-cn"></span>
      </div>
      <h3 class="govco-title-sign-form headline-l-govco">Inicio de sesión</h3>
      <div class="form-group">
        <label for="inputEmail-govco">Correo electrónico</label>
        <input type="text" class="form-control input-govco" placeholder="" id="inputEmail-govco" required>
      </div>
      <div class="form-group">
        <label for="inputPassword-govco">Contraseña</label>
        <input type="password" class="form-control input-govco" placeholder="" id="inputPassword-govco" required>
      </div>

      <div class="checkbox mb-3">
        <label class="checkbox-govco">
            <input type="checkbox" id="checkboxPassword-govco" />
            <label class="label_checkbox" for="checkboxPassword-govco"> Mostrar contraseña</label>
        </label>
      </div>
      <div class="d-flex d-flex justify-content-between">
        <button type="reset" class="btn-round btn-middle" [routerLink]="'/'">CANCELAR</button>
        <button type="submit" class="btn btn-round btn-high mr-0">INGRESAR</button>
      </div>
    </form>
    <div class="govco-form-sign-links">
      <a href="/" class="btn-low">Olvidé mi contraseña</a>
      <a href="/" class="btn-low">Registrarme</a>
    </div>
  </div>
</div>
